body {
  max-width: 320px;
  margin: auto;
  background: #222b2f;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: black;
  padding: 0 20px;
  position: sticky;
  top: 0;
  color: white;
}

.profile-picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
}

.chatbox-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-items: left;
}

.message-box {
  margin: 0 20px 20px 20px;
  max-width: 75%;
}

.message-content {
  border-radius: 15px 15px 15px 0;
  font-family: 'Roboto', sans-serif;
  background: #55f;
  margin: 0 0 5px 0;
  padding: 10px 15px;
}

.message-author {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0 15px;
}

.message-box-perso1 {
  align-self: flex-end;
}

.message-box-perso1 .message-author {
  text-align: right;
}

.message-box-perso1 .message-content {
  background: #5fb9d0;
  border-radius: 15px 15px 15px 15px;
}

.message-box-farid .message-content {
  background: #e5e2df;
  border-radius: 15px 15px 15px 15px;
}

footer {
  background: pink;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0;
}